html {
    height: 100%;
}
body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    /*字体抗锯齿,使用后字体看起来会更清晰舒服*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    height: calc(100%);
    min-width: 1200px;
    background-color: #F8F8F8;
}
ul, ol, p, h1, h2, h3, h4, h5, h6, button, input {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
}
input, button {
    outline: none;
    border: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
}
/* 修改tree组件样式 */
.el-tree-node__content{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.el-tree-node__content:hover {
    background-color: #e3f1e5;
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
    background-color: #E0F7E0;
    color: #4caf50;
}
.el-tree > .el-tree-node:nth-child(2){
    border-bottom: 1px dashed #e5e5e5;
}
/* .apiBoxBox */
.apiBox{
    margin-top: 10px;
    background-color: #fff;
    h1{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #e5e5e5;
        border-bottom: none;
        padding-left: 10px;
    }
    h2{
        height: 50px;
        line-height: 50px;
        padding-left: 10px;
        border: 1px solid #e5e5e5;
        border-bottom: none;
    }
}
/* .system样式 */
.system{
    height: 56px;
    line-height: 56px;
    .search{
        width: 200px;
        margin-left: 20px;
    }
    .count{
        font-size: 14px;
        color: #47af4e;
    }
}
/* .underline */
.underline{
    color: #47af4e;
    cursor: pointer;
}
.underline:hover{
    text-decoration: underline;
}
/* .dialogContent */
.dialogContent{
    .dialogContentLabel{
        height: 40px;
        line-height: 40px;
        width: 70px;
    }
    .dialogContentBox{
        height: 40px;
        line-height: 40px;
        width: calc(100% - 70px);
        .dialogSelect{
            width: calc(100%);
        }
    }
}
